<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gaucho Relay Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../static/js/peer.js"></script>
</head>
<body>
    <div id="serverField">
        <input type="text" id="address">
        <button onclick="connect_to()">Connect</button>
    </div>
    <div id="chat">
        <ul id="messages"></ul>
        <input type="text" id="myMessage">
        <button id="sendButton">Send</button>
    </div>
</body>
</html>